{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed lacus magna. Morbi convallis congue ipsum et ultrices. Aliquam gravida posuere risus vel feugiat. Duis a sagittis tortor. Proin ipsum erat, posuere ac nunc eu, hendrerit laoreet neque. Ut ultricies augue eu nibh lobortis, a euismod sem posuere. Curabitur ut sapien lorem. Etiam convallis venenatis nisl, facilisis commodo dui ornare et. Fusce sit amet turpis in dui blandit venenatis. Quisque placerat dignissim eros, in congue sapien tempus non. In dui augue, tincidunt sed lacus id, faucibus fermentum orci. Quisque tempor urna vel justo elementum, a tristique lacus sagittis. Aliquam et turpis sed elit dictum aliquet.
{% endblock %}
