{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{article.title}} <span class="badge bg-secondary">by
                        {{article.author.username}}</span></h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>

            </header>
            <!-- Preview image figure-->
            {% if article.article_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." />
            </figure>
            {% endif %}

            <!-- Post content-->
            <section class="mb-5">
                {{article.content|safe}}
            </section>
        </article>
    </div>
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form method="post" style="margin-bottom: 30px;" action="{% url 'article:addcomment' article.id %}">
                    {% csrf_token %}
                    {{form.media}}
                    {{form|crispy}}
                    <br>
                    <button type="submit" class="btn btn-success">Yorum Ekle</button>
                </form>

                <!-- Single comment-->
                {% if comments %}
                {% for comment in comments %}
                <div style="margin-bottom: 15px;" class="d-flex">
                    <div class="flex-shrink-0"><img class="rounded-circle"
                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">{{comment.comment_author}} <span style="margin-left: 25px;" class="badge bg-primary">{{comment.comment_date}}</span></div>
                        {{comment.comment_content}}
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                <div class="alert alert-danger">Bu makaleye hiç yorum yapılmamış. İlk yorum yapan sen ol!</div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
</div>
{% endblock %}