{% extends "layout.html" %}

{% block body %}
<h3>Kontrol Paneli</h3>
<hr>
<p>Hoş geldiniz, <small>{{request.user.username}}</small></p>
<hr>
<a href="/articles/add" class="btn btn-success">Makale Ekle</a>
<hr>
{% if articles %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Başlık</th>
        <th scope="col">Yazar</th>
        <th scope="col">Yük. Tarihi</th>
      </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <th scope="row">{{article.id}}</th>
        <td><a href="{% url 'article:articledetail' article.id %}">{{article.title}}</a></td>
        <td>{{article.author.username}}</td>
        <td>{{article.created_date}}</td>
        <td><a href="{% url 'article:updatearticle' article.id %}" class="btn btn-success">Güncelle</a></td>
        <td><a href="{% url 'article:deletearticle' article.id %}" class="btn btn-danger">Sil</a></td>
      </tr>
    {% endfor%}  
    </tbody>
  </table>
{% else %}
<div class="alert alert-danger">Henüz makaleniz bulunmamaktadır!</div>
{% endif %}

{% endblock %}
